.widg-outer-frame {
    background-color: #011F35;
    min-width: 173px;
    height: Hug (143px)px;
    padding: 20px 24px ;
    gap: 8px;
    border-radius: 16px;
    user-select: none;
    caret-color: none;

    .widg-title{
        display: flex;
        align-items: center;
        gap: 8px;

        img{
            max-width: 24px;
            max-height: 24px;
        }

        h2{
            font-size: 20px;
            color: white;
        }
    }

    .widg-content{
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: white;
        
        .widg-rev-info{
            font-size: 12px;
            font-weight: 400;
        }

        .widg-rev-data{
            display: flex;
            align-items: center;
            gap: 8px;

            .widg-rev-left{
                font-size: 24px;
                font-weight: 500;
            }
            
            .widg-rev-right{
                display: flex;
                flex-direction: column;
                font-size: 13px;
            }
        }

        .widg-currency{
            font-size: 8px;
            font-weight: 400;
        }
    }
  }

  .green{
    color:green!important
  }

  .red{
    color:red!important
  }