.widg-outer-frame {
    background-color: #011F35;
    width: Hug (173px)px;
    height: Hug (143px)px;
    padding: 20px 24px ;
    gap: 8px;
    border-radius: 16px;
    .widg-title{
        display: flex;
        align-items: center;
        gap: 8px;

        img{
            object-fit: cover;
            width: 24px;
            height: 24px;
        }

        h2{
            font-size: 20px;
            color: white;
        }
    }
  }